<style>
    .f-info-links a{
        text-decoration: none;
        color: #222222;
    }
    .f-info-links a:hover{
        text-decoration: underline;
    }
    .f-info-links ,.f-info-socials,.f-info-brands{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .f-info-socials i{
       font-size: 1.2rem;
       margin-right: 1rem;
    }
    .f-info{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items:space-evenly;
        flex-wrap: wrap;
        height: 8rem;
        background-color: #ebebebeb;
    }
</style>

<footer>

    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>

        </div>
        <div class="f-info-brands"> &copy;Wander Lust private limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>